.colorBox {
    width: 20px;
    height: 20px;
    margin: 0 20px;
    display: inline-block;
}
.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}